.family {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 100;
  margin: 0px 20px;
}

.family_toggled{
  border: 4px solid black;
}

.family:hover{
  background: rgba(220,220,220, 0.5);
}
