.person {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  border-radius: 5px;
}

.choosed{
  background-color: rgba(120,255,120, 0.5);
}

.person .name {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  flex: 0.15;
}

.person .visual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0.7;
}

.person .visual .photo {
  flex: 0.9;
}

.person .visual .icon {
  flex: 0.5;
}

.person .visual .gender {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  flex: 0.1;
  justify-content: space-between;
}

.person .life_time {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 0.15;
  align-items: center;
    font-family: cursive;
    font-style: italic;
}
